{cache $control->name . '-' . $control->presenter->lang, tags => [tree]}
{block #node}
{if count($nodes) > 0}
	<ul>
		{foreach $nodes as $child}
		<li>
			<a href="{$control->presenter->link($control->destination, array('node' => $child->id))}">{$child->title}</a>

			{? $children = $control->tree->getChildren($child)}
			{if count($children) > 0}
				{include #node, nodes => $children}
			{/if}
		</li>
		{/foreach}
	</ul>
{/if}
{/block}
{/cache}